<!-- Container for demo purpose -->
<div class="bg-[#f0eeee]">
  <!-- Section: Hero Section -->
  <section>
    <div>
      <div class="pt-12 md:px-12 bg-gray-100 text-gray-800 text-center lg:text-left ">
        <div class="container mx-auto xl:px-20">
          <div class="grid lg:grid-cols-2 gap-2 items-center">
            <div class="mt-12 lg:mt-0">
              <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">The Complete Solution <br /><span class="text-blue-600">for your Inventory</span></h1>
              <a class="inline-block px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Get started</a>
              <a class="inline-block px-7 py-3 bg-transparent text-blue-600 font-medium text-sm leading-snug uppercase rounded border border-blue-600 hover:text-blue-700 hover:bg-blue-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out">Learn more</a>
            </div>
            <div class="mb-5 lg:mb-0">
              <div class="absolute z-0 ">
              </div>
              <div class="relative z-10"><%= image_tag "inv2.png", class: "w-full" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Hero Section -->

  <!-- Features Section -->
  <section class="mb-20 p-10 text-gray-800 text-center bg-white shadow-sm">
    <div class="flex justify-center ">
      <div class="text-center max-w-[700px]">
        <h2 class="text-5xl font-bold mb-6 text-center">Why choose <u class="text-blue-600"> StockPilot</u></h2>
        <p class="text-gray-500 mb-12 text-lg">It is a great pratform to short out your inventorty. We provie the best place and easy soloution for managing your inventory. </p>
      </div>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-4 lg:gap-x-12">
      <div class="mb-12 lg:mb-0">
        <div class="p-4 bg-blue-600 rounded-full shadow-lg inline-block mb-6"><i class="fa-solid fa-boxes-stacked text-white text-xl"></i></div>
        <h5 class="text-lg font-bold mb-4">Easy Management</h5>
        <p class="text-gray-500">User-friendly software to track and manage inventory levels. We provide real-time updates, and reporting features to help businesses optimize their inventory and reduce costs.</p>
      </div>

      <div class="mb-12 lg:mb-0">
        <div class="p-4 bg-blue-600 rounded-full shadow-lg inline-block mb-6"><i class="fa-solid fa-truck text-white text-xl"></i></div>
        <h5 class="text-lg font-bold mb-4">Order management</h5>
        <p class="text-gray-500">We include tracking, processing, and fulfilling orders efficiently. It is crucial for businesses to have an effective order management system in place to ensure customer satisfaction and minimize errors.</p>
      </div>

      <div class="mb-12 md:mb-0">
        <div class="p-4 bg-blue-600 rounded-full shadow-lg inline-block mb-6"><i class="fa-solid fa-business-time text-white text-xl"></i></div>
        <h5 class="text-lg font-bold mb-4">Real-time inventory Tracking</h5>
        <p class="text-gray-500">You can monitor your inventory levels in real-time. You can have up-to-the-minute information about the quantities and locations of your products.</p>
      </div>

      <div class="mb-12 md:mb-0">
        <div class="p-4 bg-blue-600 rounded-full shadow-lg inline-block mb-6"><i class="fa-solid fa-chart-line text-white text-2xl"></i></div>
        <h5 class="text-lg font-bold mb-4">Live analytics</h5>
        <p class="text-gray-500">Live analytics provides real-time insights into inventory levels and demand trends, enabling businesses to make informed decisions and optimize inventory management. </p>
      </div>
    </div>
  </section>

<!--Hero Section end-->


<!-- Pricing Section -->
<section class="mb-24 text-gray-800">
  <h2 class="text-5xl font-bold text-center mb-8">Pricing</h2>
<!-- Pricing Free Tier -->
  <div class="grid lg:grid-cols-3 gap-6 lg:gap-x-12 p-12">
    <div class="mb-6 lg:mb-0">
      <div class="block rounded-lg shadow-lg bg-white h-full">
        <div class="p-6 border-b border-gray-300 text-center">
          <p class="uppercase mb-4 text-lg"><strong>Free</strong></p>
          <h3 class="text-2xl mb-6"><strong>Rs. 0.00</strong>
          <small class="text-gray-500 text-sm">/month</small>
          </h3>
          <button type="button"class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full">Try</button>
        </div>
        <div class="p-6">
          <ol class="list-inside">
            <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Maximum number of products: 100</li>
            <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Basic inventory tracking features</li>
            <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Basic reporting and analytics</li>
            <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Email support only</li>


          </ol>
        </div>
      </div>
    </div>


  <!-- Pricing Advanced Tier -->

  <div class="mb-6 lg:mb-0">
    <div class="block rounded-lg shadow-lg bg-white h-full">
      <div class="p-6 border-b border-gray-300 text-center">
        <p class="uppercase mb-4 text-lg"><strong>Advanced</strong></p>
        <h3 class="text-2xl mb-6">
          <strong>Rs 1499.00</strong>
          <small class="text-gray-500 text-sm">/month</small>
        </h3>
        <button type="button"class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full">Buy</button>
      </div>
      <div class="p-6">
        <ol class="list-inside">
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Maximum number of products: 500</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>All basic features plus:</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Multi-location inventory tracking </li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Purchase order management</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Advanced reporting and analytics</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Integrations with popular e-commerce platforms (Daraj, Sasthodeal)</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Email and chat support</li>
        </ol>
      </div>
    </div>
  </div>

  <!-- Pricing Premium Tier -->
  <div class="mb-6 lg:mb-0">
    <div class="block rounded-lg shadow-lg bg-white h-full">
      <div class="p-6 border-b border-gray-300 text-center">
        <p class="uppercase mb-4 text-lg">
          <strong>Premium</strong>
        </p>
        <h3 class="text-2xl mb-6">
          <strong>Rs. 3499</strong>
          <small class="text-gray-500 text-sm">/month</small>
        </h3>
        <button type="button"class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full">Buy</button>
      </div>
      <div class="p-6">
        <ol class="list-inside">
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Maximum number of products: Unlimited</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>All advanced features plus:</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Customizable dashboards and reporting</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Custom integrations</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Advanced order management features</li>
          <li class="mb-4 flex items-center"><i class="fa-solid fa-check text-green-500 text-xl mr-2"></i>Priority support (phone, email, and chat)</li>
        </ol>
      </div>
    </div>
  </div>
  </div>
  </section>

<!--Parshales  -->
  <%= render 'testamonial' %>
  <%= render 'footer' %>

</div>
<!-- Container for demo purpose -->