<nav>
			<div class="bg-gray-50 shadow-xl relative h-screen z-10 w-48 content-center">
				<div class="">
					<ul class="list-reset flex flex-col pt-3 py-3 px-2 text-left">
						<div class="flex items-center border-b-2 border-gray-800 hover:border-cyan-500">
							<i class="fa-solid fa-house mr-2"></i>
							<%= link_to 'Home', ims_main_path, class:'block py-3 pl-1 align-middle text-black no-underline hover:text-gray-600' %>
						</div>
						<li><a href="#" class="block py-3 pl-1 align-middle text-black no-underline hover:text-gra border-b-2 border-gray-800 hover:border-blue-500 hover:text-gray-700"><i class="fa-solid fa-cart-flatbed mr-2"></i>Products</a></li>
						<li><a href="#" class="block py-3 pl-1 align-middle text-black no-underline hover:text-gra border-b-2 border-gray-800 hover:border-violet-500 hover:text-gray-700"><i class="fa-solid fa-store mr-2"></i>Sales</a></li>
						<li><a href="#" class="block py-3 pl-1 align-middle text-black no-underline hover:text-gra border-b-2 border-gray-800 hover:border-orange-500 hover:text-gray-700"><i class="fa-regular fa-credit-card mr-2"></i>Purchase</a></li>
						<div class="flex items-center border-b-2 border-gray-800 hover:border-cyan-500">
							<i class="fa-solid fa-users mr-2 inline"></i>
							<%= link_to 'Supliers', suppliers_path, class:'block py-3 pl-1 align-middle text-black no-underline hover:text-gray-700' %>
						</div>
					</ul>
				</div>
			</div>
		</nav>