<div class="w-[81%] absolute bg-slate-50 pl-3 py-5 mt-4 rounded-md shadow-lg">
  <div class="mt-6">
    <p style="color: green"><%= notice %></p>
    <%= render @supplier %>
  </div>
  
  <div>
    <div class="mt-3">
      <%= link_to "Edit", edit_supplier_path(@supplier), class:"bg-green-300 btn-show" %>
      <%= link_to "Back", suppliers_path, class:"btn-back" %>
    </div>
    </div>
</div>
